<p>
  Hello <%= @idea_owner.full_name %>,
</p>
<p>
  You've got a new like to your idea:
</p>
<p>
  <%= link_to "Click here to view the idea", idea_url(@idea) %>
</p>

<p>
  Regards,
</p>
<p>
  Quiz3_ideas Team
</p>
